APP_NAME = "content-recommended"
APP_MODE = "dev"
APP_URI = "http://localhost"
APP_SERVER_HEADER = ""
APP_HTTP_PORT = 8000
APP_PREFORK = false
APP_CASE_SENSITIVE = false
APP_STRICT_ROUTING = false


TIME_ZONE = "Asia/Bangkok"


DB_HOST = "192.168.1.1"
DB_PORT = 
DB_NAME = "content_recommended"
DB_USER = ""
DB_PASSWORD = ""
DB_SSL_MODE = "disable"


REDIS_HOST = "192.168.1.1"
REDIS_PORT = 
REDIS_PASS = ""
REDIS_DOCKER_PORT = 
REDIS_TTL = 10
